<footer>
  {% if section.settings.footer_logo_offset != blank %}
  <style>
    .footer--content {
      padding-top: {{ section.settings.footer_logo_offset }}px;
    }

    .footer__item--logo-container {
      margin-top: -{{ section.settings.footer_logo_offset }}px;
    }

    /* these styles get reset for medium-down in layout.scss */
  </style>
  {% endif %}
  <div class="footer--content">
    {% if section.settings.footer_logo != blank %}
    <div class="footer__item footer__item--logo-container">{{ section.settings.footer_logo | img_url: '480x480' | img_tag: shop.name }}</div>
    {% endif %}

    <div class="footer__item footer__item--links-container">
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <div>
        <div class="footer__item__header">Pages</div>
        <ul>
          {% for link in linklists[footer_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
      <div class="footer__item__social-links">
        {% if section.settings.social_header != blank %}<div class="footer__item__header">{{ section.settings.social_header }}</div>{% endif %}
        <ul>
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

            {% if settings[social_link] != blank %}
              <li>
                <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">{{ social }}</a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    </div>

    {% if section.settings.mailchimp_url != blank %}
    <div class="footer__item footer__item--newsletter-container">
      <div class="footer__item__header">Newsletter</div>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
          <form action="https://audio.us7.list-manage.com/subscribe/post?u=be58663a738e69f01b03e256c&amp;id=9fe14367ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group">
                      <label for="mce-EMAIL" class="email-label">Email Address </label>
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                  </div>

                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_be58663a738e69f01b03e256c_9fe14367ae" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Sign up &rarr;" name="subscribe" id="mc-embedded-subscribe" class="button submit-button"></div>
              </div>

              <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
          </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

      {{ section.settings.mailchimp_note }}
    </div>
    {% endif %}
  </div>

  <div class="footer__bottom">
    {% if section.settings.show_email %}
      <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
      {% if section.settings.show_phone or section.settings.show_address %}
        &bull; 
      {% endif %}
    {% endif %}
    {% if section.settings.show_phone %}
      {{ shop.phone }}
      {% if section.settings.show_address %}
       &bull; 
      {% endif %}
    {% endif %}
    {% if section.settings.show_address %}
      {{ shop.address.street }}, {{ shop.address.city }}, {{ shop.address.province_code }}, {{ shop.address.zip }}
    {% endif %}
    {% if section.settings.show_email or section.settings.show_phone or section.settings.show_address %}<br />{% endif %}
    {% if section.settings.bye-text != blank %}{{ section.settings.bye-text }} &bull; {% endif %}&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Footer logo"
      },
      {
        "type": "text",
        "id": "footer_logo_offset",
        "label": "Footer logo offset (px)"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Pages menu",
        "default": "footer"
      },
      {
        "type": "text",
        "id": "social_header",
        "label": "Social links header",
        "default": "Follow Us"
      },
      {
        "type": "text",
        "id": "mailchimp_url",
        "label": "MailChimp endpoint"
      },
      {
        "type": "text",
        "id": "mailchimp_note",
        "label": "MailChimp note",
        "default": "We only email when it matters."
      },
      {
        "type": "checkbox",
        "id": "show_email",
        "default": false,
        "label": "Show store email"
      },
      {
        "type": "checkbox",
        "id": "show_phone",
        "default": false,
        "label": "Show store phone number"
      },
      {
        "type": "checkbox",
        "id": "show_address",
        "default": false,
        "label": "Show store address"
      },
      {
        "type": "text",
        "id": "bye-text",
        "label": "Cya-later text"
      }
    ]
  }

{% endschema %}
