<footer>
  <div class="footer--content">
    {% if section.settings.footer_logo != blank %}
    {% if section.settings.footer_logo_offset != blank %}
    <style>
      .footer__item--logo-container {
        top: -{{ section.settings.footer_logo_offset }}px;
        /* position:relative; is set only for large-up breakpoint in layout.scss */
      }
    </style>
    {% endif %}
    <div class="footer__item footer__item--logo-container">{{ section.settings.footer_logo | img_url: '480x480' | img_tag: shop.name }}</div>
    {% endif %}

    <div class="footer__item footer__item--links-container">
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
      <div>
        <div class="footer__item__header">Pages</div>
        <ul>
          {% for link in linklists[footer_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
      <div>
        <div class="footer__item__header">Follow {{ shop.name }}</div>
        <ul>
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

            {% if settings[social_link] != blank %}
              <li>
                <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                  {{ social }}
                </a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    </div>

    {% if section.settings.mailchimp_url != blank %}
    <div class="footer__item footer__item--newsletter-container">
      <div class="footer__item__header">Newsletter</div>
      {{ section.settings.mailchimp_url }}
      {{ section.settings.mailchimp_note }}
    </div>
    {% endif %}
  </div>

  <div class="footer__bottom">
    {% if section.settings.show_email %}
      {{ shop.email }}
      {% if section.settings.show_phone or section.settings.show_address %}
        &bull; 
      {% endif %}
    {% endif %}
    {% if section.settings.show_phone %}
      {{ shop.phone }}
      {% if section.settings.show_address %}
       &bull; 
      {% endif %}
    {% endif %}
    {% if section.settings.show_address %}
      {{ shop.address.summary }}
    {% endif %}
    {% if section.settings.show_email or section.settings.show_phone or section.settings.show_address %}<br />{% endif %}
    {% if section.settings.bye-text != blank %}{{ section.settings.bye-text }} &bull; {% endif %}&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Footer logo"
      },
      {
        "type": "text",
        "id": "footer_logo_offset",
        "label": "Footer logo offset (px)"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Pages menu",
        "default": "footer"
      },
      {
        "type": "text",
        "id": "mailchimp_url",
        "label": "MailChimp endpoint"
      },
      {
        "type": "text",
        "id": "mailchimp_note",
        "label": "MailChimp note",
        "default": "We only email when it matters."
      },
      {
        "type": "checkbox",
        "id": "show_email",
        "default": false,
        "label": "Show store email"
      },
      {
        "type": "checkbox",
        "id": "show_phone",
        "default": false,
        "label": "Show store phone number"
      },
      {
        "type": "checkbox",
        "id": "show_address",
        "default": false,
        "label": "Show store address"
      },
      {
        "type": "text",
        "id": "bye-text",
        "label": "Cya-later text"
      }
    ]
  }

{% endschema %}
