<div class="intro-section--container">
  {% if section.settings.image != blank %}
    <div>
      <img src="{{ section.settings.image | img_url: '1500x' }}"
         srcset="{{ section.settings.image | img_url: '1500x' }} 1x, {{ section.settings.image | img_url: '1500x', scale: 2 }} 2x"
         alt="{{ section.settings.image.alt | default: 'Featured image' }}"
         itemprop="image">
    </div>
  {% endif %}

  <div>
    {% if section.settings.header_text != blank %}
      <div class="intro-section__header">{{ section.settings.header_text }}</div>
    {% endif %}

    {% if section.settings.body_html != blank %}
      <div class="intro-section__body">{{ section.settings.body_html }}</div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Intro",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header text"
      },
      {
        "type": "html",
        "id": "body_html",
        "label": "Body HTML"
      }
    ],
    "presets": [
      {
        "name": "Intro",
        "category": "Custom Content"
      }
    ]
  }
{% endschema %}
