<style>
  .text-container--container {
    color: {{ section.settings.text_color }};
  }

  .text-container--container a {
    color: {{ section.settings.text_color }};
  }

  {% if section.settings.background_image != blank %}
  .text-container--container {
    background: url({{ section.settings.background_image | img_url: '1200x' }});
    background-size: cover;
  }
  {% endif %}
</style>
<div class="text-container--container">
  <div class="text-container__inner">
    {% if section.settings.header_image != blank %}
      {{ section.settings.header_image | img_url: '400x' | img_tag }}
    {% endif %}
    
    {% if section.settings.text != blank %}{{ section.settings.text }}{% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Text container",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Overlay opacity",
        "default": 50
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "image_picker",
        "id": "header_image",
        "label": "Header image"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Content"
      }
    ],
    "presets": [
      {
        "name": "Text container",
        "category": "Custom Content"
      }
    ]
  }
{% endschema %}
